<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHIuR-KDEY9bu5xVIJE_pd0KNY94MkKi0</string>
	<key>GCM_SENDER_ID</key>
	<string>132367931552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GitGudApple</string>
	<key>PROJECT_ID</key>
	<string>gitgud-415705</string>
	<key>STORAGE_BUCKET</key>
	<string>gitgud-415705.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132367931552:ios:432ed057985ccdfa8711c5</string>
</dict>
</plist>